asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
coverage==7.6.1
Django==5.1.1
django-cors-headers==4.4.0
idna==3.10
mysqlclient==2.2.4
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
