asgiref==3.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
coverage==7.13.1
Django==6.0
django-cors-headers==4.9.0
idna==3.11
requests==2.32.5
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.2
# MariaDB / MYSQL
# mysqlclient==2.2.6
# PostgreSQL
psycopg==3.3.2
psycopg-binary==3.3.2
