apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: analytics-for-spotify
  namespace: analytics-for-spotify
  labels:
    test: test
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    notifications.argoproj.io/subscribe.on-sync-succeeded.gh-tenant: ""
    notifications.argoproj.io/subscribe.on-sync-failed.gh-tenant: ""
    notifications.argoproj.io/subscribe.on-sync-status-unknown.gh-tenant: ""
    notifications.argoproj.io/subscribe.on-health-degraded.gh-tenant: ""
spec:
  destination:
    namespace: analytics-for-spotify
    server: https://kubernetes.default.svc
  project: analytics-for-spotify
  source:
    path: kubernetes/overlays/okd
    repoURL: https://git.arthurvardevanyan.com/ArthurVardevanyan/Analytics-for-Spotify
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
  ignoreDifferences:
    - group: serving.knative.dev
      kind: Service
      jsonPointers:
        - /spec/template/spec/containers/0/image
        - /spec/template/spec/initContainers/0/image
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: argocd
  namespace: analytics-for-spotify
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
  - kind: ServiceAccount
    name: argocd-apps-argocd-application-controller
    namespace: argocd-apps
  # - kind: ServiceAccount
  #   name: argocd-apps-argocd-server
  #   namespace: argocd-apps
  # - kind: ServiceAccount
  #   name: argocd-apps-argocd-notifications-controller
  #   namespace: argocd-apps
