apiVersion: batch/v1
kind: CronJob
metadata:
  name: link-missing-artists
spec:
  schedule: "0 3 * * *" # Run daily at 3 AM
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: link-artists
              image: your-image:tag
              command: ["python3", "link_artists.py"]
          env:
            - name: LOG_LEVEL
              value: "DEBUG"
            - name: MIGRATIONS
              value: "true"
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: CLIENT_ID
                  name: env
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: CLIENT_SECRET
                  name: env
            - name: DATABASE
              valueFrom:
                secretKeyRef:
                  key: DATABASE
                  name: env
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: DB_HOST
                  name: env
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: DB_PASSWORD
                  name: env
            - name: REDIRECT_URL
              valueFrom:
                secretKeyRef:
                  key: REDIRECT_URL
                  name: env
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: DB_USER
                  name: env
          restartPolicy: OnFailure
