# apiVersion: v1
# kind: Secret
# metadata:
#   name: env
#   namespace: analytics-for-spotify
#   labels:
#     app.kubernetes.io/instance: analytics-for-spotify_analytics-for-spotify
# stringData:
#   CLIENT_ID: "<path:secret/data/spotify/spotify#client_id>"
#   CLIENT_SECRET: "<path:secret/data/spotify/spotify#client_secret>"
#   DB_HOST: "<path:secret/data/spotify/database#db_host>"
#   DATABASE: "<path:secret/data/spotify/database#database>"
#   DB_USER: "<path:secret/data/spotify/database#db_user>"
#   DB_PASSWORD: "<path:secret/data/spotify/database#db_password>"
#   REDIRECT_URL: "<path:secret/data/spotify/spotify#redirect_url>"
# ---
# apiVersion: rbac.authorization.k8s.io/v1
# kind: ClusterRoleBinding
# metadata:
#   name: vault-auth-binding-analytics-for-spotify
# roleRef:
#   apiGroup: rbac.authorization.k8s.io
#   kind: ClusterRole
#   name: system:auth-delegator
# subjects:
#   - kind: ServiceAccount
#     name: pipeline
#     namespace: analytics-for-spotify
---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: vault
  namespace: analytics-for-spotify
  labels:
    app.kubernetes.io/instance: analytics-for-spotify_analytics-for-spotify
spec:
  provider:
    vault:
      server: "https://vault.arthurvardevanyan.com"
      path: "secret"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "analytics-for-spotify"
          role: "analytics-for-spotify"
          serviceAccountRef:
            name: "pipeline"
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: analytics-for-spotify
  namespace: analytics-for-spotify
  labels:
    app.kubernetes.io/instance: analytics-for-spotify_analytics-for-spotify
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault
    kind: SecretStore
  target:
    name: env
  data:
    - secretKey: CLIENT_ID
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: spotify/spotify
        property: client_id
        metadataPolicy: None
    - secretKey: CLIENT_SECRET
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: spotify/spotify
        property: client_secret
        metadataPolicy: None
    - secretKey: DB_HOST
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: spotify/database
        property: db_host
        metadataPolicy: None
    - secretKey: DATABASE
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: spotify/database
        property: database
        metadataPolicy: None
    - secretKey: DB_USER
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: spotify/database
        property: db_user
        metadataPolicy: None
    - secretKey: DB_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: spotify/database
        property: db_password
        metadataPolicy: None
    - secretKey: REDIRECT_URL
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: spotify/spotify
        property: redirect_url
        metadataPolicy: None

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: truenas-s3-backup
  namespace: analytics-for-spotify
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: truenas-s3-backup
    #creationPolicy: "Merge"
  data:
    - secretKey: s3.conf
      remoteRef: # checkov:skip=CKV_SECRET_6 PlaceHolder Values
        conversionStrategy: Default
        decodingStrategy: None
        key: homelab/postgres
        property: truenas_s3_backup
        metadataPolicy: None
