apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-for-spotify
  namespace: analytics-for-spotify-ext
  labels:
    app: analytics-for-spotify
spec:
  replicas: 2
  revisionHistoryLimit: 0
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: analytics-for-spotify
  template:
    metadata:
      labels:
        app: analytics-for-spotify
      annotations:
        enable.version-checker.io/analytics-for-spotify: "false"
        seccomp.security.alpha.kubernetes.io/defaultProfileName: "runtime/default"
    spec:
      hostname: analytics-for-spotify
      restartPolicy: Always
      # securityContext:
      # runAsUser: 10033
      # runAsGroup: 30000
      # fsGroup: 20000
      automountServiceAccountToken: false
      dnsPolicy: ClusterFirst
      schedulerName: default-scheduler
      enableServiceLinks: false
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: analytics-for-spotify
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: analytics-for-spotify
      initContainers:
        - name: setup
          image: registry.arthurvardevanyan.com/apps/analytics-for-spotify:<VERSION>
          resources:
            limits:
              cpu: 350m
              memory: 1Gi
            requests:
              cpu: 10m
              memory: 512Mi
          command:
            - /bin/bash
            - "-c"
            - |
              cd /home/www/analytics-for-spotify/
              source .venv/bin/activate
              python3 /home/www/analytics-for-spotify/setup.py
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            privileged: false
            runAsNonRoot: true
            # runAsUser: 10033
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - all
          env:
            - name: LOG_LEVEL
              value: "INFO"
            - name: MIGRATIONS
              value: "true"
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: CLIENT_ID
                  name: env
            - name: CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: CLIENT_SECRET
                  name: env
            - name: DATABASE
              valueFrom:
                secretKeyRef:
                  key: DATABASE
                  name: env
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: DB_HOST
                  name: env
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: DB_PASSWORD
                  name: env
            - name: REDIRECT_URL
              valueFrom:
                secretKeyRef:
                  key: REDIRECT_URL
                  name: env
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: DB_USER
                  name: env
      containers:
        - securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            privileged: false
            runAsNonRoot: true
            # runAsUser: 10033
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - all
          livenessProbe:
            httpGet:
              path: /analytics/health/
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            timeoutSeconds: 1
            periodSeconds: 45
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /analytics/health/
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            timeoutSeconds: 1
            periodSeconds: 45
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /analytics/health/
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            timeoutSeconds: 1
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 5
          image: registry.arthurvardevanyan.com/apps/analytics-for-spotify:<VERSION>
          imagePullPolicy: IfNotPresent
          name: analytics-for-spotify
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: 350m
              memory: 1Gi
            requests:
              cpu: 50m
              memory: 512Mi
          env:
            - name: LOG_LEVEL
              value: "INFO"
            - name: DATABASE
              valueFrom:
                secretKeyRef:
                  key: DATABASE
                  name: env
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: DB_HOST
                  name: env
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: DB_PASSWORD
                  name: env
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: DB_USER
                  name: env
          volumeMounts:
            - name: tmp
              mountPath: "/tmp"
      #       - name: certs
      #         mountPath: "/home/root/cert"
      #         readOnly: true
      volumes:
        - name: tmp
          emptyDir:
            sizeLimit: 1Gi
      #   - name: certs
      #     secret:
      #       secretName: analytics-for-spotify-cert
      #       items:
      #         - key: "tls.crt"
      #           path: "tls.crt"
      #         - key: "tls.key"
      #           path: "tls.key"
